body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.content{
    text-align: center;
    position: relative;
    background-image: url('../img/netflix-fundo-home.jpg');
    height: 600px;
    margin-top: -1%;

}

.content h1{
    font-size: 50pt;    
}

input{
    padding: 22px;
    border-radius: 2px;
    border: none;
}

.vamos, #entrar{
    background-color: red;
    color: white;
}

.email{
    width: 35%;
}

.vamos{
    width: 20%;
}

#entrar{
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 42%;
    top: 5%;
}

#grupo1{
    margin-top: 12%;
    margin-bottom: 25%;
}

article{
    position: relative;
    border-top: 7px rgb(70, 68, 67) solid;
    background-color: black;
    display: flex;
    padding-top: 7%;
    padding-bottom: 7%;
    text-align: center;
}

.textos{
    width: 55%;
}
.textos h1{
    font-size: 30pt;
}
 #fac{
     display: block;
 }

#fac i{
    font-size: 25pt;
    background-color: rgb(56, 62, 65);
    padding: 16px;
    padding-bottom: 22px;
    border: none;
    height: 50%;
}

#fac h1{
    font-size: 35pt;
}
ul li{
    list-style: none;
    margin-bottom: 1%;
}

.botao-fac, .informacoes{
    background-color: rgb(56, 62, 65);
    color: white;
    padding: 20px;
    width: 60%;
    height: 50%;
    text-align: left;
    font-size: 20pt;
    border: none;
}

.informacoes{
    display: none;
    margin-left: 17.5%;
    padding-right: 35px;
}

footer{
    display: block;
    text-align: center;
    color: gray;
    border-top: 7px rgb(70, 68, 67) solid;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer a{
    color: gray;
}

footer ul li{
    list-style: none;
    display: inline-table;
    margin: 10px;
}